.block {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  padding: 40px 40px 50px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  max-width: 500px;
  background-color: #173554;
  color: var(--color-white);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
