.block {
  margin: 0 auto;
  margin-top: 60px;
  padding: 50px 50px 40px;
  border: 2px solid var(--color--greysecond);
  border-radius: 50px;
  max-width: 500px;
}

.block h1 {
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 10px;
}

.block a {
  color: var(--color-green);
}

.block a:hover {
  text-decoration: underline;
}

.btnReturn {
  margin-top: 20px;
  color: var(--color--greylight);
}

.btnReturn:hover {
  text-decoration: underline;
}
