.listBlock {
  margin-top: 30px;
  max-width: 1000px;
  margin: 40px auto;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.listBlock h1 {
  margin: 0 20px;
  font-size: 1.7em;
}

.content {
  padding: 50px 20px 50px 40px;
  margin: 40px auto;
  border: 2px solid var(--color--greysecond);
  text-align: left;
  border-radius: 50px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blocks li {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .blocks li {
    width: calc((100% - 80px) / 3);
  }
}

@media screen and (max-width: 1000px) {
  .content {
    border: none;
    padding: 20px;
  }

  .header {
    padding-left: 20px;
  }

  .blocks li {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 475px) {
  .blocks li {
    width: 100%;
  }
}

.btnAdd {
  font-weight: 500;
  color: var(--color-white);
  font-size: 20px;
  background-color: var(--color--greysecond);
  border-radius: 30px;
  padding: 10px 30px;
}

.btnAdd:hover {
  background-color: var(--color-teal);
  color: var(--color-white);
}

@media screen and (max-width: 600px) {
  .btnAdd {
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .btnAdd:hover {
    background-color: var(--color--greysecond);
  }
}
