.listBlock {
  margin-top: 30px;
  max-width: 1000px;
  margin: 130px auto;
}

.content {
  padding: 50px 20px 50px 40px;
  margin: 40px auto;
  border: 2px solid var(--color--greysecond);
  text-align: left;
  border-radius: 50px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blocks li {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .content {
    border: none;
    padding: 20px;
  }
}
