.container {
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  min-height: calc(100vh - 61px);
}

.sorry {
  margin-top: 50px;
}

.hide {
  visibility: hidden;
}

.modal-open {
  overflow: hidden;
}

.btnBack {
  position: relative;

  font-weight: 500;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color--greysecond);
  border-radius: 30px;
  padding: 10px 30px 10px 40px;
}

.btnBack:hover {
  background-color: var(--color-teal);
  color: var(--color-white);
}

.btnBack svg {
  position: absolute;
  top: 13px;
  left: 16px;
}

.menuSetBlock {
  user-select: none;
  position: absolute;

  right: 22px;
  top: 44px;

  background-color: var(--color--greysecond);
  border: 1px solid var(--color-white);
  border-radius: 10px;
  z-index: 1;

  width: 200px;
  padding: 15px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 10 / 40%);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 0 20px;
  font-size: 1.7em;
  font-weight: 500;
}

.header h1::first-letter {
  text-transform: uppercase;
}

.btnAdd {
  font-weight: 500;
  color: var(--color-white);
  font-size: 20px;
  background-color: var(--color--greysecond);
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
}

.btnAdd:hover {
  background-color: var(--color-teal);
  color: var(--color-white);
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.folderMenu {
  user-select: none;
  position: absolute;

  bottom: -59px;
  left: 159px;

  background-color: var(--color--greysecond);
  border: 1px solid var(--color-white);
  border-radius: 10px;
  z-index: 1;

  width: 200px;
  padding: 15px;
}

.btnSet {
  font-weight: 500;
  color: var(--color-white);
  font-size: 20px;
  background-color: var(--color--greysecond);
  border-radius: 30px;
  padding: 10px 20px;
}

.btnSet:hover {
  background-color: var(--color-teal);
  color: var(--color-white);
}

.btnSetting svg {
  fill: var(--color-white);
}

.btnSetting svg:hover {
  fill: #dee516;
}

.icon svg {
  height: 1.8em;
  width: 1.8em;
}

.request-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
  padding: 0px 0px 10px 20px;
}

.request-item {
  height: 30px;
}

.request-item:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--color-white);
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .btnAdd {
    padding: 0px 10px;
    font-size: 15px;
  }

  .btnFlashcard {
    padding: 10px 20px;
  }

  .btnAdd:hover {
    background-color: var(--color--greysecond);
  }

  .btnBack {
    padding: 10px 15px 10px 28px;
    font-size: 15px;
  }

  .btnBack svg {
    position: absolute;
    top: 13px;
    left: 11px;
  }
}

@media screen and (max-width: 575px) {
  .box {
    min-height: calc(80vh - 61px);
  }
}

@media screen and (max-width: 400px) {
  .btnAdd {
    padding: 0px 10px;
    font-size: 14px;
  }
}
