:root {
  --color-white: #ece9f4;
  --color-darkblue: #171935;

  --color--greylight: #a0a0a0;

  --color--greysecond: #525f7f;

  --color-green: #337139;
  --color-red: #772b2b;
  --color-teal: rgb(0, 80, 90);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--color-darkblue);
  color: var(--color-white);
}

.icon-light svg {
  fill: var(--color-darkblue);
}

.icon-dark svg {
  fill: var(--color-white);
}
