header {
  padding: 20px 0;
  align-items: center;
  border-bottom: 2px solid var(--color-white);
  color: inherit;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-size: 30px;
  font-weight: 600;
}

.headerBtnRow {
  display: flex;
  gap: 15px;
}

.headerBtn {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 35px;
  color: inherit;
}

.headerBtn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  text-decoration: underline;
}

.openNav {
  position: relative;
  top: 6px;

  font-size: 2.5em;
  color: inherit;
}

.mobileNav {
  display: flex;

  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;

  text-align: center;
}

.navClose {
  position: absolute;
  top: 30px;
  right: 20px;

  font-size: 2em;
  color: inherit;
}

@media (max-width: 1230px) {
  .headerRow {
    padding: 0 30px;
  }
}

@media (max-width: 600px) {
  .headerLogo {
    font-size: 25px;
  }

  .headerRow {
    padding: 0 15px;
  }
}
