.block {
  position: relative;
}

.card {
  padding: 20px;

  border-radius: 30px;
  background-color: var(--color-teal);
  max-width: 380px;
  height: 132px;
}

.card h3 {
  height: 73px;
}

.card h3::first-letter {
  text-transform: uppercase;
}

.bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bottom button {
  position: absolute;
  right: -5px;
  top: 6px;
}

.btn svg {
  fill: var(--color-white);
}
