.word {
  padding: 35px 40px;
  margin: 40px auto;
  max-width: 1000px;
  border: 2px solid var(--color--greysecond);
  text-align: left;
  border-radius: 50px;
}

.top {
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid var(--color--greysecond);
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.tab {
  padding-top: 10px;
  cursor: pointer;
}

.tab svg {
  height: 1.7em;
  width: 1.7em;
  color: var(--color--greysecond);
}

.tab svg :hover {
  fill: var(--color-green);
}

.h1 {
  font-weight: 600;
  font-size: 49px;
}

.list {
  padding: 20px;
}

.list h2 {
  font-style: italic;
  margin-bottom: 10px;
}

.list ul {
  padding-left: 35px;
  margin-bottom: 10px;
}

li {
  list-style: circle;
  font-size: 18px;
}

.synonyms {
  font-size: 16px;
  font-style: italic;
  color: var(--color-greylight);
}

.examples {
  padding-left: 56px;
}

.examples li {
  margin-bottom: 10px;
}

.word h3 {
  margin-bottom: 15px;
}

.btnBlock {
  padding-left: 35px;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-greylight);
  border-bottom: 1px solid var(--color--greysecond);
}
