.content {
  margin: 40px auto;
  max-width: 1000px;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top h1 {
  margin-left: 20px;
  font-size: 1.7em;
}

.contentBlock {
  margin-top: 30px;
  padding: 55px 40px;
  border: 2px solid var(--color--greysecond);
  text-align: left;
  border-radius: 50px;
}
