.content {
  margin: 40px auto;
  max-width: 1000px;
}

.contentBlock {
  margin-top: 30px;
  padding: 40px;
  border: 2px solid var(--color--greysecond);
  text-align: left;
  border-radius: 50px;
}

@media screen and (max-width: 1000px) {
  .contentBlock {
    border: none;
    padding: 30px 20px;
  }
  .top {
    padding: 0 20px;
  }
}

@media screen and (max-width: 675px) {
  .contentBlock {
    border: none;
    padding: 15px 20px;
  }
}
