.setBlock {
  position: relative;
  padding: 25px 30px;
  margin-bottom: 20px;

  border: 2px solid var(--color--greysecond);
  text-align: left;
  border-radius: 20px;
}

.setBlock:last-child {
  margin-bottom: 0px;
}

.setBlock h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}

.setBlock p {
  font-size: 18px;
  margin-top: 8px;
}

.setBlock span {
  font-size: 13px;
}

.btn {
  position: absolute;
  right: 18px;
  top: 20px;
}
