.container {
  margin: 40px auto;
  max-width: 1000px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.title {
  display: flex;
  margin-bottom: 10px;
}

.title svg {
  height: 2em;
  width: 2em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  padding: 85px 40px 30px;
  text-align: left;
}

.content h3 {
  font-size: 25px;
  font-weight: 600;
}

.btnSet {
  font-weight: 500;
  color: var(--color-white);
  font-size: 20px;
  background-color: var(--color--greysecond);
  border-radius: 30px;
  padding: 10px 30px;
}

.btnSet:hover {
  background-color: var(--color-teal);
  color: var(--color-white);
}
