.container {
  margin: 40px auto;
  max-width: 1000px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.header {
  display: flex;
  gap: 30px;
}

.title {
  display: flex;
  margin-bottom: 10px;
}

.title svg {
  height: 2em;
  width: 2em;
}
