.block {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  padding: 40px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  max-width: 500px;
  background-color: #173554;
  color: var(--color-white);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  padding: 10px;
  width: 420px;
  height: 120px;

  background-color: #fff;
  border: 2px solid var(--color-white);
  resize: none;
  overflow-y: auto;
}

.btnConfirm {
  font-weight: 500;
  color: var(--color-white);
  font-size: 20px;
  background-color: var(--color--greysecond);
  border-radius: 30px;
  padding: 10px 30px;
}

.btnConfirm:disabled {
  background-color: rgb(98, 98, 98);
  pointer-events: none;
}

.btnConfirm:hover {
  background-color: var(--color-teal);
  color: var(--color-white);
}

.top {
  position: relative;
  margin: 10px 0 20px;
}

.top .h3 {
  font-size: 23px;
  font-weight: 500;
}

.smallBtn {
  position: absolute;
  bottom: 21px;
  right: -20px;
  color: var(--color-white);
}

.smallBtn svg {
  height: 1.5em;
  width: 1.5em;
}

.smallBtn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
