.form {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.label {
  position: relative;
}

.formInput {
  border-radius: 30px;
  padding: 10px 50px 10px 30px;
  border: 1px solid var(--color-darkblue);
  background-color: rgb(232, 232, 232);
}

.formInput::placeholder {
  color: var(--color-darkblue);
}

.formInput:focus-visible {
  outline: none;
  border: 1px solid var(--color-teal);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.865);
  background-color: var(--color-white);
}

.formInput:focus-visible::placeholder {
  color: var(--color--greysecond);
}

.formBtn {
  font-weight: 500;
  color: var(--color-white);
  font-size: 20px;
  background-color: var(--color-teal);
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.formBtn:focus-visible,
.formBtn:active {
  outline: none;
  transform: scale(0.95);
  background-color: rgb(47, 119, 206);
}

.formBtn.active {
  pointer-events: none;
  background-color: rgb(47, 119, 206);
}

.formBtn:hover {
  color: rgb(238, 237, 249);
  transform: scale(1.05);
}

.formBtn.disabled {
  pointer-events: none;

  cursor: initial;
  background-color: var(--color--greysecond);
}

.formBtn:disabled {
  pointer-events: none;
  cursor: initial;
  background-color: var(--color--greysecond);
}

.clearBtn {
  position: absolute;
  color: #848b9b;
  right: 20px;
  top: 15px;
}

.clearBtn svg {
  height: 16px;
  width: 18px;
}

.error {
  position: absolute;
  bottom: -20px;
  left: 30px;
  color: #d12323;
  font-size: 0.7em;
  font-weight: 400;
  margin-top: 4px;
}

@media (max-width: 450px) {
  .formInput {
    width: 200px;
  }

  .error {
    font-size: 10px;
    top: 46px;
    left: 10px;
  }
}
