.formInput {
  background-color: var(--color-white);
  border-radius: 35px;
  padding: 10px 30px;
}

.formBtn {
  margin-left: 15px;
  color: var(--color-white);
  background-color: var(--color-green);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  border: 1px solid var(--color-white);
  border-radius: 35px;
}

.formBtn:disabled {
  background-color: var(--color-greylight);
  cursor: initial;
}

.formBtn:hover {
  background-color: var(--color-red);
}
