.formInput {
  border-radius: 35px;
  padding: 10px 30px;
  border: 2px solid var(--color-grey);
}

.formBtn {
  margin-left: 15px;
  color: inherit;
  background-color: var(--color--greysecond);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  border: 2px solid var(--color--greysecond);
  border-radius: 35px;
}

.formBtn:disabled {
  background-color: var(--color-greylight);
  cursor: initial;
}

.formBtn:hover {
  background-color: var(--color-green);
}
