.block {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 20px;
  border-radius: 30px;
  background-color: #6a2222;
  max-width: 380px;
  height: 140px;

  text-align: left;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 80px;
  gap: 10px;
}

.left {
  display: flex;
}

.left h4 {
  font-weight: 500;
  margin-left: 10px;
}

.folder svg {
  height: 1.2em;
  width: 1.3em;
}

.bottom {
  display: flex;
  gap: 10px;
}

.bottom span {
  padding-top: 2px;
  font-size: 15px;
}

.plus {
  cursor: pointer;
}

.plus svg {
  fill: var(--color-white);
  height: 1.1em;
  width: 1.2em;
}

.description {
  font-size: 15px;
  word-wrap: break-word;
  word-break: break-word;
}

.menuBlock {
  position: relative;
}
