.block {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  padding: 50px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  max-width: 500px;
  background-color: rgb(24, 48, 100);
  color: var(--color-white);
}

.top {
  position: relative;
}

.smallBtn {
  position: absolute;
  bottom: 21px;
  right: -26px;
  color: var(--color-white);
}

.smallBtn svg {
  height: 1.5em;
  width: 1.5em;
}

.h3 {
  font-weight: 500;
}

.blockBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  gap: 30px;
}

.blockBtn button {
  padding: 10px 30px;
}

.btnYes {
  background-color: var(--color-red);
  color: var(--color-white);
}

.btnNo {
  background-color: var(--color-teal);
  color: var(--color-white);
}

.block button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
