.block {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.block input {
  border-radius: 40px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.btnForm {
  background-color: var(--color--greysecond);
  color: var(--color-white);
  border-radius: 40px;
  height: 50px;
  text-transform: uppercase;
}

.btnForm:disabled {
  background-color: rgb(98, 98, 98);
  pointer-events: none;
}

.btnForm {
  background-color: var(--color-green);
}

.btnGoogle {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
}

.btnGoogle:hover {
  background-color: #045fc0b9;
  color: #ffffff;
}

.btnGoogle svg {
  position: relative;
  bottom: 2px;

  height: 1.4em;
  width: 1.4em;
}

.block p {
  margin: 13px 0;
}

.error {
  position: relative;
  bottom: 20px;

  color: red;
  font-size: 15px;
}
